.terminator-terminal-window notebook tab {
    font-weight: 500;
    background-color: #222;
    padding: 0;
    border: 0;
    border-color: #444;
    border-style: none;
    border-width: 0px;
}

.terminator-terminal-window notebook tab:checked {
    background-color: #000;
    background-image: none;
}

.terminator-terminal-window notebook tab label {
    color: #ddd;
}

.terminator-terminal-window notebook tab:checked label {
    color: #026EC8;
    font-weight: 500;
}

.terminator-terminal-window notebook tab button {
    padding: 0;
    background-color: transparent;
    color: #ccc;
}

.terminator-terminal-window notebook header {
    background-color: #444;
}
